#Directories
.vs/
bin/Debug-x64/
bin/
bin/int/
Yuicy/thirdparty/*/bin
Yuicy/thirdparty/*/bin-int
YuiStudio/assert/

# Files
*.user
*.tlog
*.obj
*.pdb
*.lib
*.vcxproj
*.sln
*.log
*.filters
/assets
/.vscode

# Compilation database (premake5 export-compile-commands) & clangd index
/compile_commands.json
.cache/
